#logo{
  background-image: url(../images/Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00346a;
  height: 20%;
  width: 100%;
  cursor: pointer;
  cursor: hand;
  top: 0em;
}

input[type=text] {
    padding: 0;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: #FAFAE8;
}
form {
  font-family: 'Oswald';
  text-align: center;
  margin: 4.5em auto;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0.1em;
}
#button{
  background-color: #0F4D92;
  color: white;
  font-weight: 200;
  border: 0em;
  height: 2em;
  border-radius: 0.2em;
  padding: 0.2em;
}
#checkout{
  position: relative;
  top: -4em;
  border: none;
  background-color: white;
  color: #0F4D92;
  height: 2em;
  padding: 0.2em;
  font-weight: 400;
}

#checkedInMessage{
  text-align: center;
  font-family: "Oswald";
  font-size: 1.5em;
  padding-top: 1.5em;
}


